language:
  python
python:
  - "3.6"
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
#install:
#  - pip install ".[tests]" . # install package + tests dependencies
script: python manage.py test # run tests
